<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style.css" />
</head>

<body>

    <div id="app">
        <div id="bg">

            <main>
                <!-- Sezione della barra utente -->
                <section class="userbar">
                    <!-- Profilo utente -->
                    <div class="user-profile">
                        <article class="article">
                            <img class="avatar" src="./img/avatar_io.png" alt="io">
                            <p>
                                Sofia
                            </p>
                        </article>
                    </div>
                    <!-- Notifiche -->
                    <div class="notifications">
                        <div>
                            <i class="fa-solid fa-bell-slash icon"></i>
                        </div>
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- Barra di ricerca -->
                    <div class="searchbar">
                        <i class="fa-solid fa-magnifying-glass input-icon"></i>
                        <input v-model="searchQuery" @input="filterContacts" class="input" placeholder="Cerca o inizia una nuova chat" type="text">
                    </div>
                    <!-- Lista contatti -->
                    <div class="contacts">
                        <article class="article" v-for="(contact, contactIndex) in filterContacts()" @click="selectContact(contactIndex)">
                            <img class="avatar" :src="contact.avatar" alt="avatar">
                            <p>{{ contact.name }}</p>
                        </article>
                    </div>
                </section>
                <!-- Sezione della conversazione -->
                <section class="conversation-container">
                    <!-- Profilo contatto attivo -->
                    <div class="user-profile">
                        <article class="article">
                            <img class="avatar" :src="contacts[activeContact].avatar" alt="avatar">
                            <p>{{ contacts[activeContact].name }}</p>
                        </article>
                    </div>
                    <!-- Messaggi della conversazione -->
                    <div class="messages clearfix">
                        <article v-for="message in contacts[activeContact].messages" class="message" :class="message.status === 'sent' ? 'sent' : 'received'">
                            {{ message.message }}
                            <span class="time">{{ extractTimeFromDate(message.date) }}</span>
                        </article>
                    </div>
                    <!-- Area di input del messaggio -->
                    <div class="input-text">
                        <div class="searchbar">
                            <input v-model="newMessage" @keyup.enter="sendMessage" class="input" placeholder="Scrivi un messaggio" type="text">
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.1/build/global/luxon.min.js"></script>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>
